.logo {
  background: url('freshdesk_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 45px;
  margin-top: 25px;
  margin-left: 30%;
}

.row{
  margin-top: 5%;
  padding-left: 10%;
}

.btn-success{
  margin: 3% 40%;
}

#addButton{

  margin: 3% 10%;
}